@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ComfortaaX';
    src: url('../fonts/ComfortaaX.ttf') format('truetype');
}

.no-select-drag {
    user-select: none;
    pointer-events: none;
}