@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ComfortaaX';
    src: url('../fonts/ComfortaaX.ttf') format('truetype');
}

body {
    font-family: 'ComfortaaX', sans-serif;
}