<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authentication Page</title>
  <link rel="icon" href="../static/images/logo-white.svg" type="svg">
  <link th:href="@{/css/output.css}" rel="stylesheet">
</head>
  <body class="relative bg-white justify-center">
    <!-- Navbar -->
    <div class="absolute bg-[#2A7800] w-[95vw] h-16 mx-auto my-4 rounded-[20px] flex items-center z-10">
      <img th:src="@{/images/logo-white.svg}" alt="Logo" class="absolute no-select-drag w-auto h-16 py-2 pl-4"/>
      <h1 class="font-ComfortaaX no-select-drag m-auto text-[30px] desktop text-white">Employee Dashboard</h1>
    </div>
    <!-- Background Image -->
    <div class="absolute bg-green-500 w-[80%] h-[70%] items-center justify-center top-20">
    </div>
  </body>
</html>