<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication Page</title>
    <link rel="icon" th:href="@{/images/logo-white.svg}" type="svg">
    <link th:href="@{/css/output.css}" rel="stylesheet">
</head>
<body class="font-ComfortaaX">
    <div class="flex flex-col bg-white justify-center w-full h-screen">
        <div class="relative bg-[#2A7800] w-[95vw] h-16 mx-auto my-4 rounded-[20px] mb-0 flex items-center z-0">
            <img th:src="@{/images/logo-white.svg}" alt="Logo" class="absolute no-select-drag w-auto h-16 py-2 pl-4"/>
            <h1 class=" no-select-drag m-auto text-[30px] desktop text-white">Employee Dashboard</h1>
        </div>
        <div class="relative mx-[32px] flex flex-auto my-5 rounded-[10px] z-0 justify-center items-center">
            <div class="absolute w-full h-full bg-[#2a78004c] rounded-[10px] justify-center items-center z-10">
            </div>
            <div class="absolute w-[80%] h-[90%] bg-[#EAA700] rounded-[10px] justify-center items-center z-20">
                <h1><span th:text="${employee.getEmail()}">User</span></h1>
            </div>
        </div>
    </div>
</body>
</html>