<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication Page</title>
    <link rel="icon" href="../static/images/logo-white.svg" type="svg">
    <link th:href="@{/css/output.css}" rel="stylesheet">
</head>
<body>
    <div class="flex flex-col bg-white justify-center w-full h-screen">
        <div class="bg-[#2A7800] mx-[32px] h-16 rounded-[20px] mt-4 mb-0 flex z-20">
            <img th:src="@{/images/logo-white.svg}" alt="Logo" class="no-select-drag w-auto h-16 py-2 pl-4"/>
            <h1 class="font-ComfortaaX no-select-drag m-auto text-[30px] desktop text-white">
                Employee Dashboard
            </h1>
        </div>
        <div class="mx-[32px] my-5 flex-auto bg-[#2a78004c] rounded-[10px] z-0"></div>
    </div>
</body>
</html>