<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication Page</title>
    <link rel="icon" href="../static/images/logo-white.svg" type="svg">
    <link th:href="@{/css/output.css}" rel="stylesheet">
</head>
<body>
    <div class="bg-white flex justify-center w-full relative h-screen">
        <div class="absolute bg-[#2A7800] w-[95vw] h-16 rounded-[20px] my-4 flex items-center z-20">
            <img th:src="@{/images/logo-white.svg}" alt="Logo" class="absolute no-select-drag w-auto h-16 py-2 pl-4"/>
            <h1 class="font-ComfortaaX no-select-drag m-auto text-[30px] desktop text-white">Employee Dashboard</h1>
        </div>
        <div class="w-[100%] h-full p-20 bg-[#2a78004c] rounded-[10px] z-10"></div>
    </div>
</body>
</html>